  @font-face {
    font-family: "Dichotomy"; /* Give your custom font a name */
    src: url("Fonts/dichtmy.ttf") format("truetype"); /* Adjust the path and format for each font file */
    /* You can add more src lines for different font variations (e.g., bold, italic, etc.) */
  }
  body {
    background-color: #cccccc;
    margin: 0;
    overflow: hidden;
    background-image: url("Images/EBbackgroun.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
  }



  img {
    width: 100%; /* Ensure the image fits within the container */
    height: 35vh;
  }

  header {
    /* Use flexbox to create a flex container */
     
          text-align: center; /* Center align the content within the header */
          font-family: "Dichotomy";
          color: black;
          height: 252px
        }
    
        .container {
          position: relative;
          width: 100%; /* Ensure the container takes the full width of the viewport */
          height: 10%; /* Ensure the container takes the full height of the viewport */
        }
        
        .anchored-text {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 3vw; /* Adjust the font size using viewport width (vw) unit */
        }
      