  body {
    background-color: #cccccc;
    margin: 0;
    overflow: hidden;
    background-image: url("Images/EBbackgroun.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
  }
